## Importação das bibliotecas

- `boto3`: biblioteca oficial da AWS para acessar recursos como o S3.
- `pandas`: usado para manipulação e análise de dados tabulares.
- `botocore.exceptions`: tratamento de erros relacionados à autenticação e conexão com serviços AWS.

In [1]:
import pandas as pd
import boto3
from botocore.exceptions import BotoCoreError, ProfileNotFound, NoCredentialsError

### Carregamento do dataset

In [2]:
df = pd.read_csv("C:/Users/Vinic/Downloads/bolsa_familia_2024.csv")

### Informações do DataFrame

In [3]:
df.head()

,codigo_ibge,anomes_s,qtd_familias_beneficiarias_bolsa_familia_s,valor_repassado_bolsa_familia_s,pbf_vlr_medio_benef_f
0,110001,202412,1677,1132797.0,679.54
1,110002,202412,7710,5247594.0,683.90
2,110003,202412,307,207117.0,674.65
3,110004,202412,6066,4041564.0,666.70
4,110005,202412,1213,849202.0,702.40

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   codigo_ibge                                 66840 non-null  int64
 1   anomes_s                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia_s  66840 non-null  int64
 3   valor_repassado_bolsa_familia_s             66840 non-null  float64
 4   pbf_vlr_medio_benef_f                       66840 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 2.5 MB

In [5]:
df.describe()

,codigo_ibge,anomes_s,qtd_familias_beneficiarias_bolsa_familia_s,valor_repassado_bolsa_familia_s,pbf_vlr_medio_benef_f
count,66840.000000,66840.000000,66840.00000,6.684000e+04,66840.000000
mean,325358.627828,202406.500000,3744.75211,2.549393e+06,677.713829
std,98482.928985,3.452078,16088.50042,1.077185e+07,30.753817
min,110001.000000,202401.000000,5.00000,2.950000e+03,486.480000
25%,251210.000000,202403.750000,510.00000,3.411040e+05,661.270000
50%,314627.500000,202406.500000,1327.50000,8.989490e+05,675.000000
75%,411920.000000,202409.250000,3326.00000,2.279641e+06,690.400000
max,530010.000000,202412.000000,720175.00000,4.903408e+08,1151.800000

In [6]:
df.isnull().sum()

codigo_ibge                                   0
anomes_s                                      0
qtd_familias_beneficiarias_bolsa_familia_s    0
valor_repassado_bolsa_familia_s               0
pbf_vlr_medio_benef_f                         0
dtype: int64

In [7]:
df.duplicated(subset=["codigo_ibge", "anomes_s"]).sum()

np.int64(0)

### Questionamentos e analises

Q1 - Quais faixas de municípios concentram mais repasses acima da média nacional?

Q2 - Como o valor médio do benefício evolui ao longo do tempo em diferentes faixas de demanda?

Q3 - Qual a desigualdade interna em cada faixa de demanda em relação ao valor médio anual por família?

### Envio do csv para o bucket do s3

In [8]:
try:
    session = boto3.Session(profile_name='compass-sso')
    s3 = session.client('s3')
    print("Conexão com o S3 estabelecida com sucesso!")
except ProfileNotFound:
    print(" Erro: Perfil 'compass-sso' não encontrado. Verifique se o perfil está configurado com aws configure.")
except NoCredentialsError:
    print(" Erro: Credenciais não encontradas. Configure suas credenciais AWS.")
except BotoCoreError as e:
    print(f" Erro ao conectar com a AWS: {e}")

s3.upload_file('bolsa_familia_2024.csv', 'desafio-sprint4-8972', 'bolsa_familia_2024.csv')

Conexão com o S3 estabelecida com sucesso!