In [1]:
import requests
import pandas as pd
from IPython.display import display
import os

In [2]:
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
api_key = os.getenv("API_KEY_TMDB")
url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&amp;language=pt-BR"

In [5]:
response = requests.get(url)
data = response.json()

In [6]:
filmes = []
for movie in data['results']:
    df = {
        'Título': movie['title'],
        'Data de lançamento': movie['release_date'],
        'Visão geral': movie['overview'],
        'Votos': movie['vote_count'],
        'Média de votos': movie['vote_average']
    }
    filmes.append(df)

In [7]:
df = pd.DataFrame(filmes)
display(df)

,Título,Data de lançamento,Visão geral,Votos,Média de votos
0,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,28416,8.711
1,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",21516,8.700
2,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,12998,8.600
3,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,16467,8.600
4,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,9163,8.548
5,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",17196,8.537
6,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,33938,8.520
7,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",4488,8.517
8,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,18129,8.506
9,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",19112,8.499
10,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",28743,8.488
11,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,25133,8.500
12,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,11803,8.482
13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,28278,8.468
14,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,9018,8.461
15,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,37254,8.455
16,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",13412,8.454
17,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,3906,8.455
18,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",5914,8.400
19,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,13395,8.447